# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PTPM_SOF302_FA24_BL1-main\demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
